nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    left: 60px;
}

.logo {
    width: 200px;
    height: auto;
}

header {
    /* position; absolute; */
    width: 1519px;
    height: 150px;
    top: -8px;
    left: -8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4PX rgb(0, 0, 0, 0.5);
}

a {
    font-family: Impact, Haettenschweiler, sans-serif;
    font size: x-large;
    text-decoration: none;
    color: green;
}

p {}

body {
    width: 1440;
}

#phar {
    width: 1480px;
    ;
    height: 400px;
    ;
}
.textão{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.textodois{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}