
nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.logo{
   width:100px ;
   height: 100px ;
}

header{
    position: absolute;
    width: 1519px;
    height: 150px;
    top: -8px;
    left:-8px ;
    background: #FFFFFF;
    box-shadow: 0px 4px 4PX rgb(0, 0, 0, 0.5);
}
.href {
 
}