nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    left: 60px;
}

.logo {
    width: 200px;
    height: auto;
}

header {
    /* position; absolute; */
    width: 1519px;
    height: 150px;
    top: -8px;
    left: -8px;
    right: -8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4PX rgb(0, 0, 0, 0.5);
}

a {
    font-family: Impact, Haettenschweiler, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: green;
}


body {
    width: 1440;
}

#phar {
    width: 1480px;
    ;
    height: 400px;
    ;
}
.textao{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 90px;

}
.jk{
  justify-items: auto ;
  width: 500px;
  font-family:"abhayalibre";
  font-size:larger;
  
}
.yu{
 justify-items: auto  ;
 width: 500px;
 font-family:"abhayalibre";
 font-size:larger;
}

h1{
    font-family:"fredokaone";
    
}

@font-face {
    font-family:"fredokaone" ;
    src: url(fontes/FredokaOne-Regular.ttf);
}
@font-face {
    font-family:"abhayalibre";
    src: url(fontes/AbhayaLibre-Bold.ttf);
}